// Custom --------
$dark: #2F3E46;
$primary: #354F52;
$white:#CAD2C5;
// Varibles ---
$green-1: #2F3E46;
$green-2: #354F52;
$green-3: #52796F;
$green-4: #84A98C;
$green-5: #CAD2C5;
// Mixings --------
@mixin center {
    margin-left: auto;
    margin-right: auto;
}

// Preloader ---
#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-facebook div {
    z-index: 100;
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #dfc;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }  
// Header ---
header {    
    position: relative;
    padding-bottom: 80px;
    nav {
        width: 100%;
        z-index: 10;
        .logo {
            width: 80px;
        }

        // Settings User
        #user-settings{
            left: -50px;
            .figure-list {
                z-index: -1;
                background: $white;
                position: absolute;
                width: 20px;
                height: 20px;
                top: -11px;
                right: 23px;
                transform: rotate(45deg);
            }
        }

        .tabs li a:hover{
            border-bottom: solid 5px #fff;
        }

        // Pestaña activa
        .active-tab {
            border-bottom: solid 5px #fff;
        }
    }

    // Nav Menu fixed ---------
    .menu-fixed {
        background: $dark;
        position: fixed;
        z-index: 101;
        top: 0;
        left: 0;
        width: 100%;
        box-shadow: 0px 3px 5px #000;
    }
}
// General Container ----
.center {
    @include center();
}

.tab-inicio {
    .view-main {
        height: 70vh;
    }
    .title-inicio {
        text-align: center;
        text-shadow: 1px 1px 2px $dark;
        margin-top: 0;
        h1 {
            font-size: 58px;
        }
        p {
            font-size: 18px;
        }
    }
    #svg-video {
        width: 80%;
        height: 80%;
    }

    @media screen and (min-width: 510px){
        #svg-video {
            width: 60%;
            height: 60%;
        }
    }

    @media screen and (min-width: 992px){
        .title-inicio {
            margin-top: 20%;
            margin-left: 50px;
            text-align: start;
            h1 {
                font-size: 80px;
            }
            p {
                font-size: 25px;
            }   
        }
        #svg-video {
            width: 70%;
            height: 70%;
        }
    }
    
}
.parallax {
	position: fixed;
	top: 0;	
	transform: translate3d(0, 0, 0);	
	transform-style: preserve-3d;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

// Glide ---
.container_productos {
    h2 {
       font-size: 45px;
    //    border-bottom: solid 2px $white; 
    }
    .card {
        position: relative;
        overflow: hidden;
        &:hover {
            transform: scale(3em);
        }
        .filtro {
            background: $dark;
            position: absolute;
            opacity: .5;
            width: 100%;
            height: 100%;
            // &:hover {
            //     opacity: 0;
            // }
        }
        .img__slide {
            display: block;
            height: 200px;
        }
    }
    
    .glide__arrow {
        padding: 0 10px;
        font-size: 20px;    
        position: absolute;    
        border: none;
        top: 45%;
        background: $primary;
        color: $white;
        border-radius: 100%;
        &:active {
            padding: 0 8px;
        }
    }
    
    .glide__arrow--right {
        right: 0;
    }
    .glide__arrow--left {
        left: 0;
    }
}
// Imports ----------
@import"../node_modules/bootstrap/scss/bootstrap.scss";
